<h1>Building</h1>
<p>Name:</p>
<%= @building.name %>
<p>Address:</p>
<%= @building.address %>
<p>City:</p>
<%= @building.city %>
<h1>Apartments</h1>
<table>
  <thead>
    <tr>
      <th>Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @apartments.each do |apartment| %>
      <tr>
        <td><%= apartment.number %></td>
        <td><%= link_to "Show", apartment %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Back", buildings_path %>
